.footer__social-link {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.4s ease;
}

.footer__social-link:hover {
  opacity: 0.5;
}
